@page "/"

<style>
    body {
        margin: 0;
        padding: 0;
        background: url('https://s3.amazonaws.com/arc-wordpress-client-uploads/infobae-wp/wp-content/uploads/2016/09/02191642/inizio-215-1024x576.jpg') no-repeat center center fixed;
        background-size: cover;
    }

    h1 {
        color: white; /* Ajusta el color del texto si es necesario */
    }
</style>

@*<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
*@